<html>
<head>
    <title>게시글 작성</title>
</head>
<body>
<form method="post" action = "http://localhost:8080/board/create">
    <div><input type="text" name="title" placeholder="제목을 입력하세요."></div>
    <div><input type="text" name="writer" placeholder="작성자를 입력하세요."></div>
    <div><textarea name="content" placeholder="내용을 입력하세요."></textarea></div>
    <div><input type="submit" value="작성"></div>
</form>
</body>
</html>
